In [6]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'temperatur': [-12, 3, 9, 12, 18, 26, 32, 27, 28, 22]
})

# print out some descriptive statistics
df.describe()

          month  temperatur
count  10.00000   10.000000
mean    5.50000   16.500000
std     3.02765   13.648362
min     1.00000  -12.000000
25%     3.25000    9.750000
50%     5.50000   20.000000
75%     7.75000   26.750000
max    10.00000   32.000000